.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name shota
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          = link_to '#' do
            = icon('fa','edit')
        %li.side-header__box__menu__edit-user
          = link_to '#' do
            = icon('fa','cog')
  .groups
    = link_to '#', class:"group"  do
      %p.group__group-name
        テスト
      %p.group__latest-message
        テストです
